.sign-in-form {
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 20px;
    text-align: left;

    h1 {
        font-weight: 700;
        opacity: 0.5;
        text-transform: uppercase;
    }
}